@import "../../styles/colors", "../../styles/components", "../../styles/typography";

/*------------------Form Styles------------------*/

.group {
	position: relative;
	margin: 0.25em 0;

	input,
	textarea {
		font-family: "Open Sans", sans-serif;
		display: block;
		border-radius: 4px;
		border: 1px solid $outline;
		outline: none;
		font-size: 1em;
		width: 100%;
		box-shadow: none;
		box-sizing: border-box;
		margin: 0;

		@keyframes autofill {
			100% {
				color: #666;
				background: transparent;
			}
		}
		&:-webkit-autofill {
			animation-name: autofill;
			animation-fill-mode: both;
		}

		&:focus {
			border: 2px solid $brand-secondary;
		}
		&:focus ~ .label {
			color: $brand-secondary;
		}
	}

	input {
		height: 3.4em;
		text-indent: 0.25em;
		line-height: 1;
		padding: 1rem 0.125rem 0.0625rem;

		&:focus ~ .enter {
			color: $brand-secondary;
		}
		&[type="date"] {
			text-indent: 0.2em;
		}
	}

	textarea {
		resize: vertical;
		height: 6em;
		text-indent: 0;
		padding-top: 1.4em;
		padding-left: 0.5em;
		line-height: 1.4em;
	}

	.label {
		position: absolute;
		text-indent: 0.5em;
		top: 0.3rem;
		pointer-events: none;
		padding-left: 0.125rem;
		color: #bbb;
		font-size: 0.8em;
		font-weight: normal;
		-webkit-transition: all 0.28s ease;
		transition: all 0.28s ease;
	}

	.toggle {
		margin-right: 1em;
		margin-top: -2.6em;
		cursor: pointer;
		float: right;
		font-size: 0.8em;
		text-decoration: underline;
		user-select: none;
	}
	.enter {
		margin-right: 0.5em;
		margin-top: -1.6em;
		cursor: pointer;
		float: right;
		font-size: 1.6em;
		color: #bbb;
	}
}

.file {
	padding: 1em 0;
	outline: none;

	.input {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
	.label {
		color: $darkest;
		background: #fff;
		cursor: pointer;
		vertical-align: middle;
		display: inline;
		font-weight: 600;
		letter-spacing: 0.04em;
		text-decoration: none;
		outline: none;
		line-height: inherit;
		padding: 0.5em 1em;
		font-family: $primary-font;
		font-size: 0.9em;
		min-width: 7em;
		outline: 0;
		border: 0;
		transition: all 0.1s ease-in-out;
		padding: 0;

		&:hover {
			background: #fff;
			text-decoration: underline;
		}
	}
}
