// Body color
$primary: #2e2e2e;
// Headings
$darkest: #000000;
// Background
$lightest: #ffffff;

$faded: gray;
// Message Accents
$success: #40ac61;
$error: #d9534f; // d25858
// Div outlines
$outline: #dddddd;
$border: #dddddd;
// Brand Colors
$brand-main: #473cc2;
$brand-main-accent: #473cc2;
$brand-main-accent-2: #473cc2;
$brand-secondary: #052b69;

// Dark mode colors
$dark-mode-lightest: #f0f0f0;
$dark-mode-background: #292929;
$dark-mode-primary: #cbcbcb;
$dark-mode-secondary: #141414;
